<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="17" />
    <option name="MAIN_CLASS_NAME" value="com.example.ApplicationKt" />
    <module name="BackendTestCase.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>